<div class="global-jumbotron text-center">

	<div ng-if="signUp.errorsDetail">
		<div class="form-group">
			<label>
				<div ng-repeat="error in signUp.errorsDetail">
					{{ error }}
				</div>
			</label>
		</div>
	</div>

	<form class="global-form quarter-width" name="form">

		<div class="form-group">
			<label for="username">Username</label><br>
			<input type="text" ng-model="signUp.user.username" class="form-control global-form-input" id="username" name="username" minlength="2" maxlength="50" ng-pattern="/[\s!-ϿԱ-֏ἀ-῾\u2003₠-₾]+$/" required>
		</div>

		<div class="form-group" ng-messages="form.username.$error" ng-if="form.username.$touched && form.username.$invalid">
			<label>
				<div ng-message="required">
					Username is required!
				</div>
				<div ng-message="minlength">
					Username must be at least 2 characters!
				</div>
				<div ng-message="maxlength">
					Username can be no longer than 50 characters!
				</div>
				<div ng-message="pattern">
					Username must not have forbidden characters!
				</div>
			</label>
		</div>

		<div class="form-group">
			<label for="email">Email</label><br>
			<input type="email" ng-model="signUp.user.email" class="form-control global-form-input" id="email">
		</div>

		<div class="form-group">
			<label for="password">Password</label><br>
			<input type="password" ng-model="signUp.user.password" class="form-control global-form-input" id="password">
		</div>

		<div class="form-group">
			<label for="password_confirmation">Password Confirmation</label><br>
			<input type="password" ng-model="signUp.user.password_confirmation" class="form-control global-form-input" id="password_confirmation">
		</div>

		<input type="submit" ng-click="signUp.submit($event);" class="btn btn-default global-form-btn" value="Sign Up">

	</form>

</div>