<div ng-if="!currentUser">
	<div class="row">
		<div class="col-xs-6">
			<a ui-sref="index.visitor.sign_up">
				<div class="global-jumbotron">
					<h2 class="text-center">Sign up</h2>
				</div>
			</a>
		</div>
		<div class="col-xs-6">
			<a ui-sref="index.visitor.sign_in">
				<div class='global-jumbotron'>
					<h2 class='text-center'>Sign in</h2>
				</div>
			</a>
		</div>
	</div>
</div>
<div ng-if="currentUser">
	<a ui-sref="index.signed_in.contacts">
		<div class="global-jumbotron">
			<h2 class="text-center">Contacts</h2>
		</div>
	</a>
</div>