<div class="global-jumbotron">
	<div class="row text-center">
		<div class="col-xs-12">
			<a ui-sref="index.signed_in.contacts.new">New Contact</a>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="first_name_search">First Name Search</label><br>
				<input type="text" ng-model="contacts.firstNameSearch" class="form-control global-form-input" id="first_name_search">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="last_name_search">Last Name Search</label><br>
				<input type="text" ng-model="contacts.lastNameSearch" class="form-control global-form-input" id="last_name_search">
			</div>
		</div>
		<div class="col-xs-3">
		</div>
		<div class="col-xs-3">
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-3">
		</div>
		<div class="col-xs-3">
		</div>
		<div class="col-xs-3">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div ng-repeat="contact in contacts.contacts | caseInsensitive:'first_name':contacts.firstNameSearch | caseInsensitive:'last_name':contacts.lastNameSearch | orderBy:'last_name'">
				<a ui-sref="index.signed_in.contacts.show({ id: contact.id })">{{ contact.last_name }}, {{ contact.first_name }}</a><br>
			</div>
		</div>
		<div class ="col-xs-8 text-center">
			<div ui-view></div>
		</div>
	</div>
</div>